$font-size: 10px;
$font-size-lg: 14px;
$font-size-sm: 6px;
$font-family: 'Ubuntu', sans-serif;

$font-size-nav: 1.4rem;
$font-size-button: 1.4rem;
$font-size-label: 2rem;
$font-size-body-1: 2.2rem;
$font-size-body-2: 1.8rem;
$font-size-body-3: 1.3rem;
$font-size-card-title: 4rem;

$color-primary: #42454a;
$color-white: #ffffff;

$media-fullwidth: 1920px;
$media-md: 1440px;
$media-sm: 1366px;
$media-xs: 1280px;

$shadow-btn-primary: 0px 12px 25px -10px rgba(0, 0, 0, 0.04);
